.mat-table{
  width: 100%;
}

.mat-row .mat-cell {
  padding: 8px 24px;
}

.mat-header-cell {
  padding: 8px 24px;
  text-align: start;
}

.mat-column-id {
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.presente{
  color: green;
}

.faltante{
  color: red;
}

.card-chamada{
  min-height: 188px;
  height: auto;
}

.btn-add{
  position: absolute;
  bottom: 45px;
  right: 39px;

  background-color: #0d6efd;
  border: 0.3px solid #2e2e2e5f;
  border-radius: 50%;

  width: 50px;
  height: 50px;

  i{
    color: white;
    font-size: 24px;
  }
}
