@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};

*{
  font-family: 'Roboto Mono', monospace;
}

.modal{
  z-index: 999;
}

.modal-backdrop {
  z-index: 999;
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
